{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12">
                <p id="keep" hidden>{{ property_id }}</p>
                <form id="property-form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Property Name" name="name"
                                   required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="type">Type</label>
                            <input type="text" class="form-control" id="type" name="type" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="number_of_bedrooms">Number of Bedrooms</label>
                            <input type="number" class="form-control" id="number_of_bedrooms"
                                   placeholder="Number of Bedrooms" name="number_of_bedrooms" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="number_of_bathrooms">Number of Bathrooms</label>
                            <input type="number" class="form-control" id="number_of_bathrooms"
                                   placeholder="Number of Bathrooms" name="number_of_bathrooms" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="status">Status</label>
                            <input type="text" class="form-control" id="status" name="status" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="number_line">Address Number line</label>
                            <input type="number" class="form-control" id="number_line"
                                   placeholder="Number Line" name="number_line" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="street">Street</label>
                            <input type="text" class="form-control" id="street"
                                   placeholder="Street" name="street" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" name="city" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="state">State</label>
                            <<input type="text" class="form-control" id="state" name="state" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="postal_code">Postal Code</label>
                            <input type="number" class="form-control" id="postal_code" name="postal_code" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="country">Country</label>
                            <input type="text" class="form-control" id="country" name="country" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="price">Price</label>
                            <input type="number" id="price" name="price" class="form-control" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="video_url">Video Link</label>
                            <input type="text" id="video_url" name="video_url" class="form-control" required>
                        </div>
                    </div>
                    <div class="from-group">
                        <div class="form-group col-md-12">
                            <label for="description">Description</label>
                            <textarea type="text" class="form-control" id="description" name="description"
                                      required></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/app/edit.js' %}"></script>
    <script src="{% static 'js/app/signup.js' %}"></script>
{% endblock %}